* {
  font-family: sans-serif;
}

body {
  background-color: white;
}

main {
  background-color: #7fffd4;
}
img {
  max-width: 100%;
}

.container {
  background-color: transparent;
  height: calc(100vh - 8rem);
}

#grid {
  margin: auto;
}
.logo {
  width: 50px;
  height: 50px;
}

#grid div {
  height: calc(100% / 10);
  width: calc(100% / 10);
  text-align: center;
  line-height: 5rem;
  border: solid black 1px;
  background-color: #7fffd4;
}

#grid .square {
  background-color: #61d2a4;
}

header {
  min-height: 4.5rem;
}

footer {
  min-height: 2.5rem;
}
.grid-1 {
  width: 800px;
  height: 800px;
  border: solid black 1px;
}

.medium-grid {
  height: calc(100% / 8);
  width: calc(100% / 8);
}
.hard-grid {
  height: calc(100% / 7);
  width: calc(100% / 7);
}
